$card-border-color: #ddd;
$card-text-color: gray;
$card-button-border-color: steelblue;
$card-button-text-color: steelblue;
$card-button-background-color: #fff;
$card-button-text-color-filled: #fff;
$card-button-background-color-filled: steelblue;
$card-user-name: steelblue;
$card-user-status-busy: #f2ed41;
$card-user-status-ready: #7ce620;
$header-title-color: gray;
$header-switch-background-color: gray;
$header-switch-circle-background-color: #fff;
$header-switch-background-color-enabled: #7ce620;